<!DOCTYPE html>
<html>
<head>
<link href="css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
<meta charset=utf-8 />
<title>Responsive template swapping with custom Angular Directive</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-resource.min.js"></script>
<script src="js/angular.js"></script>
</head>
<body>
    <div ng-app="gitRepos" ng-controller="gitReposController" breakpoint="min-width: 44.375em" >
        <table ng-if="matches" class="table">
            <thead>
                <tr>
                    <th>Repo</th>
                    <th>Watchers</th>
                    <th>Forks</th>
                    <th>Size</th>
                    <th>Open Issues</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="repo in repos">
                    <td><a ng-href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></td>
                    <td>{{repo.watchers}}</td>
                    <td>{{repo.forks}}</td>
                    <td>{{repo.size}}</td>
                    <td>{{repo.open_issues}}</td>
                    <td><a ng-href="{{repo.owner.html_url}}" title="Repo owner" target="_blank">{{repo.owner.login}}</a></td>
                </tr>
            </tbody>
        </table>

        <div ng-if="!matches"> <!-- Wrapper required to avoid multiple-directioves/transclusion error. See https://github.com/angular-ui/angular-ui/issues/481 -->
            <article class="card" ng-repeat="repo in repos">
                <header>
                    <h1><a ng-href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h1>
                    <h2>owned by <a ng-href="{{repo.owner.html_url}}" title="Repo owner" target="_blank">{{repo.owner.login}}</a></h2>
                </header>
                <dl>
                    <dt>Watchers</dt><dd>{{repo.watchers}}</dd>
                    <dt>Forks</dt><dd>{{repo.forks}}</dd>
                    <dt>Size</dt><dd>{{repo.size}}</dd>
                    <dt>Open Issues</dt><dd>{{repo.open_issues}}</dd>
                </dl>
            </article>
        </div>
    </section>
    <aside>Stats from September 14th, 2013 (not up to date)</aside>
</body>
</html>